body {
  font-family: 'Verdana';
	z-index: -1;
  height: 100%;
	display: flex;
	flex-direction: column;
  background:
    linear-gradient(rgba(253, 252, 220, 0.7), rgba(253, 252, 220, 0.5)),
		url('../images/bg_image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position-x: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}