.gallery {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  flex: 1 1 auto;
}

.gallery__container {
  margin: 0 30px;
  border-radius: 20px;
  color: #FDFCDC;
  line-height: 1.2;
  z-index: 1;
  background: #0081A799;
  padding: 30px;
}

.gallery__header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__border {
  border-radius: 10px;
  overflow: hidden;
}

.gallery__image {
  width: 200px;
  height: 155px;
  transition: 0.5s;
  z-index: 1;
}

.gallery__image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.gallery__title {
  padding: 5px 0 10px 0;
  text-align: center;
  font-weight: 700;
}

.hidden-block {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
  /* height: 0; */
  min-height: 0;
  padding: 0;
	margin: 0;
  font-size: 0;
	transform: scale(0, 0);
}

.gallery__popup {
  position: absolute;
  width: calc(100% - 240px);
  height: auto;
  left: 120px;
  transition: all 0.4s ease;
  z-index: 2;
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
}

.gallery__popup_close {
  background: url('../../assets/icons/burger_menu_close_hover.svg') no-repeat center;
  min-width: 18px;
  height: 18px;
  cursor: pointer;
  transition: 0.4s all linear;
  position: absolute;
  right: 15px;
}

.gallery__popup_close:hover {
  transition: 0.4s all linear;
  transform: rotate(90deg);
}

.game-bird__inner {
  flex: 0 1 65%;
  background: #0081A799;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}

.game-bird__container {
  display: flex;
  gap: 20px;
}

.game-bird__image {
  background: url('../../assets/images/govorun.jpg') no-repeat center;
  background-size: cover;
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.game-bird__title {
  width: calc(100% - 200px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-bird__name {
  text-align: center;
  border-bottom: 2px solid #0081A7;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.game-bird__species {
  text-align: center;
  border-bottom: 2px solid #0081A7;
  font-weight: 500;
  padding-bottom: 7px;
}

.game-bird__description {
  margin-top: 10px;

}

.body__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
  display: none;
}

._active {
  display: block;
}

@media screen and (max-width: 640px) {

  .gallery__popup {
    width: calc(100% - 120px);
    left: 60px;
  }

}

@media screen and (max-width: 480px) {

  .gallery__popup {
    width: calc(100% - 60px);
    left: 30px;
  }

  .gallery__popup_close {
    right: 5px;
  }

  .game-bird__container {
    flex-direction: column;
    align-items: center;
  }

  .game-bird__title {
    width: 100%;
  }

  .gallery__container {
    margin: 0 15px;
    padding: 10px;
  }

  .gallery__header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

}