.game {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  flex: 1 1 auto;
}

.game__wrapper {
  margin: 0 30px;
  border-radius: 20px;
  color: #FDFCDC;
  line-height: 1.2;
  z-index: 1;
}

.game__header {
  background: #0081A799;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  gap: 5px;
}

.game__item {
  flex: 0 1 12.5%;
  margin: 10px 0px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.game__item_active {
  /* background: #00AFB9; */
  background: #0081A7;
  /* color: #FED9B7; */
  transition: all 0.4s ease;
}

.game-random {
  background: #0081A799;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  gap: 30px;
}

.game-random__image {
  /* background: url('../../assets/images/back.jpg'); */
  /* background-size: cover; */
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.game-random__desc {
  width: calc(100% - 200px - 30px);
}

.game-random__inner {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid #00AFB9; */
  border-bottom: 2px solid #0081A7;
}

.game-random__header,
.game-random__score {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.game-bird__wrapper {
  display: flex;
  gap: 20px;
}

.game-bird__list {
  flex: 0 1 35%;
  background: #0081A799;
  border-radius: 10px;
  /* padding: 0 15px; */
  display: flex;
  flex-direction: column;
}

.game-bird__item {
  flex: 1 1 auto;
  /* border-bottom: 2px solid #00AFB9; */
  border-bottom: 2px solid #0081A7;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.game-bird__item:nth-child(6) {
  border: none;
}

.game-bird__item:hover {
  color: #FED9B7;
  transition: all 0.4s ease;
  /* background-color: #00AFB9; */
  background-color: #0081A7;
}

.game-bird__button {
  background-color: #FED9B7;
}

.game-bird__button {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: .1s;
  transition: .1s
}

/* .list-group-item {
  padding: .85rem 1.25rem;
  background-color: #303030;
  border: 1px solid #555
} */

.default .game-bird__button {
  background-color: #FED9B7;
}

._success {
  background-color: #00AFB9;
  border: 3px solid #FED9B7;
}

._error {
  background-color: #F07167;
  border: 3px solid #FED9B7;
}

.game-bird__inner {
  flex: 0 1 65%;
  background: #0081A799;
  border-radius: 10px;
  padding: 15px;
  min-height: 400px;
}

.game-bird__container {
  display: flex;
  gap: 20px;
}

.game-bird__image {
  background: url('../../assets/images/govorun.jpg') no-repeat center;
  background-size: cover;
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.game-bird__title {
  width: calc(100% - 200px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-bird__name {
  text-align: center;
  /* border-bottom: 2px solid #00AFB9; */
  border-bottom: 2px solid #0081A7;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.game-bird__species {
  text-align: center;
  /* border-bottom: 2px solid #00AFB9; */
  border-bottom: 2px solid #0081A7;
  font-weight: 500;
  padding-bottom: 7px;
}

.game-bird__description {
  margin-top: 10px;
}

.game__footer {
  margin-top: 20px;
  padding-top: 10px;
  background: #0081A799;
  height: 65px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

.game__footer-button {
  width: 300px;
  height: 45px;
  background-color: #F07167;
  border-radius: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FED9B7;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: all 0.4s ease;
  margin: 0 auto;
  transform: scale(1.0);
}

.game__footer-button:hover {
  background: #FED9B7;
  transition: all 0.4s ease;
  color: #00AFB9;
  transform: scale(1.05);
}

.game__footer-button:active {
  background: #00AFB9;
  transition: all 0.4s ease;
  color: #FED9B7;
  transform: scale(1.0);
}

.game__footer-button:disabled {
  background-color: #CCCCCC;
  color: #666666;
  transform: scale(1.0);
}

.hidden-block {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
  /* height: 0; */
  min-height: 0;
  padding: 0;
	margin: 0;
  font-size: 0;
	transform: scale(0, 0);
}

@media screen and (max-width: 980px) {

  .game__item {
    margin: 5px 0;
  }

}

@media screen and (max-width: 640px) {

  .game-random__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .game-bird__container {
    flex-direction: column;
    align-items: center;
  }

  .game-bird__title {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {

  .game__wrapper {
    margin: 0 15px;
  }
  .game__header {
    margin-bottom: 15px;
  }

  .game__item {
    padding: 3px 5px;
  }

  .game-random {
    margin-bottom: 15px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .game-random__desc {
    width: 100%;
  }

  .game-bird__wrapper {
    gap: 15px;
    flex-direction: column;
  }

  .game-bird__item {
    padding: 5px 10px;
  }

  .game__footer {
    margin-top: 15px;
  }

  .game__footer-button {
    width: 250px;
  }

}

@media screen and (max-width: 420px) {

  .game__header {
    flex-direction: column;
    gap: 0;
  }

  .game__item {
    font-size: 1rem;
  }

  .game-bird__item {
    font-size: 1rem;
  }

}
