.result{
  max-width: 1280px;
  width: 100%;
  margin: auto;
  flex: 1 1 auto;
}

.result_wrapper {
  background: #0081A799;
  margin: 0 30px;
  padding: 0 30px 30px 30px;
  border-radius: 20px;
  color: #FDFCDC;
  line-height: 1.2;
  z-index: 1;
}

.result__img {
  background: url('../../assets/images/back-game.jpg') no-repeat center;
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.result__header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.result__paragraph {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.result__button {
  width: 300px;
  height: 55px;
  background-color: #F07167;
  border-radius: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FED9B7;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: all 0.4s ease;
  margin: 0 auto;
  transform: scale(1.0);
  font-size: 1rem;
}

.result__button:hover {
  background: #FED9B7;
  transition: all 0.4s ease;
  color: #00AFB9;
  transform: scale(1.05);
}

.result__button:active {
  background: #00AFB9;
  transition: all 0.4s ease;
  color: #FED9B7;
  transform: scale(1.0);
}

@media screen and (max-width: 480px) {

  .result {
    padding: 15px 0;
  }

  .result_wrapper {
    margin: 0 15px;
    padding: 0 15px 20px 15px;
  }

  .result__header {
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .result__paragraph {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .result__button {
    width: 250px;
  }

}
